.menu {
    width: 60px;
    height: 60px;
    text-align: center;
    box-sizing: border-box;
    font-size: 26px;
  }
  
  .menu-open-button {
    background: white;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    margin-left: -40px;
    position: absolute;
    color: #ffffff;
    text-align: center;
    line-height: 80px;
    z-index: 2;
    cursor: pointer;
  }
  
  .lines {
    width: 25px;
    height: 3px;
    background: #596778;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -12.5px;
    margin-top: -1.5px;
    -webkit-transition: -webkit-transform 200ms;
    transition: -webkit-transform 200ms;
    transition: transform 200ms;
  }
  
  .line-1 {
    -webkit-transform: translate3d(0, -8px, 0);
    transform: translate3d(0, -8px, 0);
  }
  
  .line-2 {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  
  .line-3 {
    -webkit-transform: translate3d(0, 8px, 0);
    transform: translate3d(0, 8px, 0);
  }
  
  .menu-open:checked + .menu-open-button .line-1 {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  .menu-open:checked + .menu-open-button .line-2 {
    -webkit-transform: scale(0.1, 1);
    transform: scale(0.1, 1);
  }
  
  .menu-open:checked + .menu-open-button .line-3 {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  