
  .menu-open:checked + .menu-open-button .line-1 {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  .menu-open:checked + .menu-open-button .line-2 {
    -webkit-transform: scale(0.1, 1);
    transform: scale(0.1, 1);
  }
  
  .menu-open:checked + .menu-open-button .line-3 {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  